@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}


<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1>Welcome to pay.tevo.cn</h1>
            <hr />
            <p>... the BTC Payment Gateway of TEVO 3D Printers - We are makers, love Bitcoin & Lightning. Please have a look at our range of ready build 3D printers & DIY kits!</p>
            <a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://www.tevo.cn" target="_blank">Official Website</a>      <a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://help.tevo.cn" target="_blank">Support Suite</a>              <a style="background-color: #dd3333;color: #ffffff;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://tevo3dprinterstore.com" target="_blank">TEVO Webshop</a>
        </div>
    </div>
</header>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">About TEVO 3D Printers</h2>
                <hr class="primary">
                <p>
                    TEVO 3D Electronic Technology Co. Ltd. was founded 2015 and we are a fast growing 3d printer producer from Zhanjiang, China. We build various types of machines suite every size, project & price range. <br /><br />
                    Please have a look at our TEVO webshop or official website and see the product portfolio we offer.
                </p>
            </div>
        </div>
        
    </div>
</section>


<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <h2>You can find us and our 3D Printer models also on Youtube!</h2>
        <div class="row">
            <div class="col-md-2 text-center">
            </div>
            <div class="col-md-8 text-center">
                <a href="https://youtu.be/P1pS57m5rU8" target="_blank">
                    <img src="~/img/youtube.png" class="img-fluid" />
                </a>
            </div>
            <div class="col-md-2 text-center">
            </div>
        </div>
    </div>
</div>

<section id="services">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch with TEVO 3D Printers!</h2>
                <hr class="primary">
                <p>
                    We are a 3d printing producer but we are nothing without our clients, supporters & community.<br />
                    Come and get in touch with our Team!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 ml-auto text-center">
                <a href="https://help.tevo.cn/" target="_blank">
                    <img src="~/img/tevo.png" height="100" />
                </a>
                <p><a href="https://help.tevo.cn/" target="_blank">Via Support Suite</a></p>
            </div>
            <div class="col-lg-3 ml-auto text-center">
                <a href="https://www.facebook.com/TEVO3DPrinters/" target="_blank">
                    <img src="~/img/facebook.png" height="100" />
                </a>
                <p><a href="https://www.facebook.com/TEVO3DPrinters/" target="_blank">On Facebook</a></p>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <a href="https://twitter.com/tevoprinters" target="_blank">
                    <img src="~/img/twitter.png" height="100" />
                </a>
                <p>
                    <a href="https://twitter.com/tevoprinters" target="_blank">On Twitter</a>
                </p>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <a href="https://github.com/tevo3d" target="_blank">
                    <img src="~/img/github.png" height="100" />
                </a>
                <p>
                    <a href="https://github.com/tevo3d" target="_blank">On Github</a>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="call-to-action bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We proudly use BTCPay Server!</h2>
                <hr class="primary">
                <p class="text-muted">A free & open source server for merchants wanting to accept Bitcoin for their business.</p>
            </div>
        </div>
    </div>

    
    
    <div class="container text-center">
        Visit project website: 
        <a href="https://btcpayserver.org/" target="_blank">
        <img src="~/img/logo-btcpay.png" height="25" />
        </a>
    </div>
</div>

